* {
    margin: 0;
    padding: 0;
}

body {
    max-width: 1920px;
    margin: 0 auto;
    font-family: 'Work Sans', sans-serif;
}


:root {
    --secondary-color: #0B0223;
}

.high-light-color {
    color: #f948b2;
}


h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2.8125rem;
}




/* nav bar style  */

nav {
    display: flex;
    justify-content: space-between;
    padding-top: 3.375rem;
    padding-bottom: 3.375rem;
    padding-left: 15rem;
    padding-right: 15rem;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

nav>ul {
    display: flex;
    align-items: center;


}


nav li {
    list-style: none;
    margin-right: 2.5rem;
}


li a {
    text-decoration: none;
    color: #3C354F;
    text-align: center;
    font-size: 1.125rem;
    font-weight: 500;
}

.nav-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-logo img {
    width: 5.38rem;
    height: 2.5rem;
}


/* nav-follow button  */
.follow-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 16.375rem;
    height: 3.5rem;
    border: none;
    border-radius: 0.5rem;
    background: rgba(11, 2, 35, 0.10);
}


.fa-youtube {
    color: red;
    font-size: 2.12rem;
}


.fa-tiktok {
    font-size: 1.5rem;
}


/* header section style start  */

.header-section {
    background-image: url(images/group-bg.png);
    background-size: 55rem;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-between;
    margin-left: 14.6875rem;
    margin-right: 16.25rem;
}

.header-section img {
    width: 711px;
    height: 700px;
}


.header-content {
    display: flex;
    justify-content: center;
    margin-top: 10rem;
    width: 901px;
    height: 700px;
}

.header-section-normal-title {
    color: #0B0223;
    font-weight: 600;
    text-transform: uppercase;
}

.header-section-high-light-title {
    color: #f948b2;
    font-size: 5.9375rem;
    font-weight: 800;
    text-transform: uppercase;
}


.header-section-description {
    margin-top: 3rem;
}


.header-section-sub-description {
    display: flex;
    align-items: center;
}



.header-section-icon {
    margin-top: 1rem;
    font-size: 1.5rem;
    color: #f948b2;
}


.fa-circle-play {
    margin-right: 1.3125rem;
}

.fa-download {
    margin-right: 20px;
}

/* .download-icon {
    margin-right: 1.5rem;
} */

.fa-user-group {
    margin-right: 1.125rem;
}


.header-btn {
    margin-top: 2.5625rem;
}


.sign-in-btn,
.go-rogue-btn {
    padding: 21px 40px;
    gap: 10px;
    border: none;
    border-radius: 48px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
}


.go-rogue-btn {
    background: #4EC5F7;
    margin-left: 1.5rem;
}


/* main contaner start   */

/*  gamer section style start  */


.gamer-section {
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
}

#gamer-section {
    display: flex;
    justify-content: space-evenly;
    margin-left: 15rem;
    margin-right: 15rem;
}


#gamer-section img {
    width: 868px;
    height: 489px;
}


.game-section-content {
    margin-top: 6rem;
    margin-bottom: 6rem;
    width: 520px;

}


.gamer-section-title {
    text-align: right;
    margin-bottom: 1.5rem;
}


.gamer-section-description {
    color: #534C64;
    text-align: right;
    font-size: 1.125rem;
    font-weight: 400;
    margin-bottom: 2rem;
}

.know-more-btn {
    margin-left: 19rem;
    padding: 21px 40px;
    color: #FFF;
    border: none;
    border-radius: 48px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    font-size: 1.25rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 1.5rem;
}


.unless-box p {
    color: #534C64;
    text-align: right;
    font-size: 1.5rem;
}

.unless-box h3 {
    color: #534C64;
    font-size: 2rem;
    font-weight: 700;
}



/* Online Games Funny Videos section  */

.online-game-section {
    margin-top: 8rem;
}


.online-game-section-title {
    text-align: center;
    margin-bottom: 3rem;
}

.online-game-section-description {
    color: #534C64;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 400;
}

/* card style  */

.card-container {
    width: 342px;

}

.card-text {
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
    margin-top: 1.5rem;
}


.card {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1.5rem;
    margin-left: 15rem;
    margin-right: 15rem;
    margin-top: 4rem;
}


/* Play Instantly section style */

.play-instantly-section {
    display: flex;
    justify-content: space-between;
    margin-left: 15rem;
    margin-right: 15rem;
    margin-top: 15rem;
}



.play-instantly-section-content {
    margin-left: 8rem;
    margin-top: 16rem;
    width: 353px;
}


.play-instantly-section-title {
    text-align: right;
    font-weight: 700;
    margin-bottom: 1.5rem;
}

.play-instantly-section-description {
    color: #534C64;
    text-align: right;
    font-size: 1.1rem;
    font-weight: 400;

}

.play-instantly-image #instant-img {
    margin-left: 160px;
}


.play-instantly-small-image {
    width: 318.5px;
    height: 365.083px;
    background: url(<path-to-image>), lightgray 0px -0.304px / 100% 117.229% no-repeat;
    position: relative;
    bottom: 245px;

}













/* device responsive  */

/* Mobile device  */

@media screen and (max-width:576px) {


    nav,
    nav>ul {
        flex-direction: column;
        padding-top: 2rem;
        padding-left: 0;
        padding-right: 0;
        margin: auto;

    }


    nav li {
        margin: 2.25rem;
    }


    .header-section {
        flex-direction: column-reverse;
        margin: 0;
        margin-left: 2.5rem;
        margin-right: 2.5rem;
        background-image: none;
    }

    .header-section img {
        width: 100%;
        height: 300px;
    }

    .header-content {
        background-image: url(images/group-bg.png);
        background-size: 20rem;
        align-items: center;
        width: 100%;
        height: 20rem;
    }

    .header-section-normal-title {
        font-size: 1.5rem;
    }

    .header-section-high-light-title {
        font-size: 3rem;
    }





    .header-section-sub-description {
        font-size: 9px;
    }

    .header-section-icon {
        font-size: 11px;
        margin-right: 0;
        margin-top: 0.5rem;
    }

    .sign-in-btn,
    .go-rogue-btn {
        padding: 11px 15px;
        border-radius: 1.5rem;
        font-size: 10px;
    }



    /* gamer section  */

    #gamer-section {
        flex-direction: column;
        margin-left: 2.5rem;
        margin-right: 2.5rem;

    }

    #gamer-section img {
        width: 100%;
        height: 100%;

    }

    .game-section-content {
        display: flex;
        justify-content: center;
        text-align: center;
        flex-direction: column;
        margin-top: 6rem;
        margin-bottom: 6rem;
        width: 100%;
    }


    .gamer-section-title {
        font-size: 2rem;
        text-align: center;
        margin-bottom: 1.5rem;
    }


    .gamer-section-description {
        text-align: center;
        font-size: 1rem;
        margin-bottom: 2rem;
    }


    .unless-box p {
        text-align: center;
        font-size: 1rem;
    }


    .unless-box h3 {
        font-size: 1rem;
        text-align: center;
    }


    .know-more-btn {
        margin-left: 0;
        padding: 11px 1px;
        border-radius: 18px;
        font-size: 13px;
        margin: 0.9rem 2rem;
    }



    /* online game section  */

    .gamer-section {
        margin-left: 2.5rem;
        margin-right: 2.5rem;
    }

    .online-game-section-container {
        width: 312px;
        margin: auto;
    }


    .online-game-section-title {
        font-size: 1.8rem;
    }

    .online-game-section-description {
        font-size: 0.8rem;
    }

    .card {
        grid-template-columns: repeat(1, 1fr);
        margin-left: 2.5rem;
        margin-right: 2.5rem;
    }

    .card-text {
        font-size: 12px;
        text-align: center;
    }

    .card-container {
        width: 312px;
    }


    .card-container img {
        width: 100%;
    }















}


/* tablet device  */

@media screen and (min-width:576px) and (max-width:922px) {

    nav,
    nav>ul {
        flex-direction: column;
        margin: 0;

    }

    .header-section {
        flex-direction: column-reverse;
        background-image: none;
        margin-left: 5.5rem;
        margin-right: 5.5rem;
    }


    nav {
        padding: 0;
    }

    nav li {
        margin: 2.25rem;
    }




    .header-content {
        background-image: url(images/group-bg.png);
        background-repeat: no-repeat;
        align-items: center;
        background-size: 46rem;
        font-size: 1rem;
        margin-top: 5rem;
        width: 664px;
        height: 560px;

    }

    .header-section-normal-title {
        font-size: 2rem;
    }

    .header-section-high-light-title {
        font-size: 4rem;
    }


    .header-section-sub-description {
        font-size: 12px;
    }

    .header-section-icon {
        font-size: 18px;
        margin-right: 0;
        margin-top: 0.5rem;
    }




    .sign-in-btn,
    .go-rogue-btn {
        padding: 16px 22px;
        border-radius: 47px;
        font-size: 17px;
    }

    .header-section img {
        width: 100%;
        height: 100%;
    }




    /* gamer section  */

    #gamer-section {
        flex-direction: column;
        margin-left: 5.5rem;
        margin-right: 5.5rem;

    }


    #gamer-section img {
        width: 100%;
    }


    .game-section-content {
        display: flex;
        justify-content: center;
        text-align: center;
        flex-direction: column;
        margin-top: 6rem;
        margin-bottom: 6rem;
        width: 100%;
    }


    .gamer-section-title {
        font-size: 2rem;
        text-align: center;
        margin-bottom: 3rem;
    }


    .gamer-section-description {
        text-align: center;
        font-size: 1rem;
        margin-bottom: 2.4rem;
    }


    .unless-box p {
        text-align: center;
        font-size: 1.4rem;
    }


    .unless-box h3 {
        font-size: 1.5rem;
        text-align: center;
    }


    .know-more-btn {
        padding: 17px 52px;
        border-radius: 18px;
        font-size: 13px;
        margin: 0.9rem 15rem;
    }



    /* card section style  */


    /* online-game-section */

    .online-game-section {
        /* margin-left: 5.5rem;
        margin-right: 5.5rem; */

    }

    .card {
        grid-template-columns: repeat(2, 1fr);

        margin-left: 5.5rem;
        margin-right: 5.5rem;
    }


    .card-container {
        width: 326px;
    }

    .card-container img {
        width: 100%;
    }

    .card-text {
        display: flex;
        justify-content: center;
        text-align: center;
        font-size: 1rem;
    }
}